.wishlist-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap:2rem;
    max-width:100%;
    color: var(--secondary-text-color);
    margin-bottom: 2rem;
}
.wishlist-title{
    display: flex;
    justify-content: center;
    align-items: baseline;
    color: var(--secondary-color);
    margin:2rem;
}
.wishlist-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5rem;
}
@media screen and (max-width:1052px) {
    .wishlist-list{
        flex-direction: column;
    }
}